body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    margin-left: 20px;
}

h2{
    font-size: 40px;
    margin-left: 20px;
}

span{
    color: orange;
}

.anchor-class{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.container{
    display: flex;
}

.half-width{
    width: 40%;
    margin: 5%;
}

.border_left{
    border-left: 4px solid tomato;
}

.half-width img{
    width: 86%;
    height: 86%;
}