body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1200px;
}

h1{
    font-size: 50px;
}

.first_heading{    
    margin-left: 20px;
    line-height: 50px;
}

h2{
    font-size: 40px;
}

span{
    color: orange;
}

.anchor-class{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.container{
    display: flex;
}

.half-width{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
}

.dev-sec{
    background-image: url(../img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 24%;    
    background-position: left;
}


.community-sec{
    background-image: url(../img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 19%;
    padding-bottom: 75px;
    padding-right: 30px;
}

.dev-width:first-child{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
}

.dev-width:last-child{
    width: 40%;
    margin-left: 2%;
    margin-right: 9%;
}

.dev-width img{
    width: 100%;
}


.border_left{
    border-left: 4px solid tomato;
}

.half-width img{
    width: 80%;
    padding-left: 100px;
}


footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

h4{
    font-size: 30px;
    line-height: 0;
}

.text-center{
    text-align: center;
}

.mission_vission_goals{
    display: flex;
    margin-bottom: 50px;
}

.mission{
    padding: 10px 20px;
    margin-left: 5%;
    border-radius: 10px;
    background-color: paleturquoise;
    width: 25%;
}

.vission{
    padding: 10px 20px;
    margin-left: 2%;
    border-radius: 10px;
    background-color: papayawhip;
    width: 25%;
}

.goal{
    padding: 10px 20px;
    margin-left: 2%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: palegoldenrod;
    width: 25%;
}

footer h4{
    font-style: italic;
    color: orangered;    
    margin-top: 55px;
}

footer p {
    color: #ffffffa1;
    line-height: 0;
    margin-bottom: 50px;
}

.half-width h2 {
    margin-top: 68px;
}
span.footer-span {
    color: white;
}
